body.signin-body{
    background-color: #e6f2ff;
    font-weight: 600;
}
div.signin-container{
    margin-top: 8%;

}
.login-header{
    background-color: #05064d;
}
.card.signin-card{
    padding: 0px 0px 30px;
    background-color: #f4f4f4;
    box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.5);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,.5);
}
img.signin-img{
    padding: 0 2rem 2rem;
    margin: auto;
    display: block;
}
form.signin-form{
    max-width: 350px;
    margin: auto;
}
button.signin-btn{
    color: white;
    background-color: #05064d;
    width: 100%;    
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1.2rem;
}
button.signin-btn:hover{
    color: rgb(255, 255, 255);
    transition: 0.4s;
    background-color: #454a7a;
}
.form-group{
    margin: 0.8rem !important;
}
a.CreatNewAccount{
    font-size: 1rem;
    text-align: center;
    display: block;
    margin-top: 15px;
}
.hidden{
    display: block;
}